@import '../../style/size';
@import '../../style/font';
@import '../../style/color';

@mixin Icon{
  height: 18px;
  width: 19px;
  margin-left: 21px;

  align-self: center;

  @media ( min-width: $size-mobile ) {
    height: 18px * 2;
    width: 19px * 2;
    margin-left: 21px * 2;
  }

  @keyframes FadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
}

.RightIcon {
  @include Icon;

  fill:$green;

  transform: translateY(5px);
  animation: FadeIn 0.6s;
}

.WrongIcon {
  @include Icon;

  fill:$red;

  transform: translateY(5px);
  animation: FadeIn 0.6s;
}
