@import '../../style/color.scss';
@import '../../style/font.scss';
@import '../../style/size.scss';

$padding-bottom: 4px;
$border: 1px;
$offBox: $padding-bottom + $border;


.TextInput{
  width: 200px;
  height: 32px;
  padding: 4px 0px $padding-bottom 8px;

  font-size: $font-18;

  border: $border solid $line-color;
  border-radius: 5px;

  &::placeholder{
    color: $gray-dark;
  }

  @media ( min-width:$size-mobile ) {
    width: 200px * 2;
    height: 32px * 2;
    padding: 8px 0px $padding-bottom * 2 16px;

    font-size: $font-18 * 2;

    border-radius: 5px * 2;
  }
}


