.ImagemAtras {
  display: grid;
  grid-template-rows: 100px auto auto auto;
  height: 100vh;
  background-image: url(../../images/imagemQuestionario.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}