.ImagemAtras {
  display: grid;
  grid-template-rows: 100px auto auto auto;
  height: 100vh;
  background-image: url(../../images/imagemQuestionario.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.containerQuestao{
  grid-row: 2/3;
  justify-self: center;
  align-self:center;
  padding: 5px 20px;
  border-radius: 20px;
  font-size: 35px;
  font-weight: 200;
  background-color: rgba(0, 0, 0, 0.425)
}

.containerForma{
  height: fit-content;
  width: fit-content;
  padding: 30px 0;
  display: flex;
  grid-row: 3/4;
  align-items:center;
  justify-self: center;
  align-self: center;
  border-radius: 25px;
  background-color: #32753B;
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.71);
}

.containerSeguinte{
  grid-row: 4/5;
  justify-self: center;
  align-self: center;
}

.containerForma form {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: 0 40px;
}

.containerForma label {
  font-size: 35px;
  font-weight: 200;
  display:flex;
  flex-direction: column;
  margin: 10px 0;
}

.containerForma input, select, option {
  font-size: 35px;
  font-weight: 200;
  border: none;
  border-radius: 10px;
  color: black;
  background-color: rgb(255, 255, 255);
  padding: 0 20px;
}

.containerSeguinte{
  font-size: 40px;
  font-weight: 200;
  color: rgb(255, 255, 255);
  background: #25552B;
  padding: 10px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 4px 5px 8px rgba(0, 0, 0, 0.25);
  border-radius: 95px;
  cursor: pointer;
}

.containerSeguinte label{
  cursor: pointer;
}

.containerSeguinte:hover {
  filter: brightness(1.3);
}