<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>Entrar como adminstrador</title>
</head>
<body>
  <h1>Login page for admin</h1>
  <form method='POST' action="login">
    <label>Utilizador</label>
    <input type='text'  name='user'>
  </br>
    <label>Password</label>
    <input type='password' name='password'>
  </br>
    <button>Login</button>
  </form>
</body>
</html>