@import  '../SelectInput/SelectInput.module.scss';


.Title{
  margin-left: 3px;

  color: $gray-dark;

  font-size: $font-18;

  @media ( min-width:$size-mobile ) {
    font-size: $font-18 * 2;
  }
}

.InputContainer{
  display: flex;
}

// Para o input do dia
.DiaInput{
  width: 37px;

  padding: 4px 0px 4px 4px;
  margin-right: 10px;

  background: inherit;
  @media ( min-width:$size-mobile ) {
    width: 37px * 2;

    padding: 8px 0px 8px 8px;
  }
}

.DiaOptions{
  width: 37px;

  @media ( min-width:$size-mobile ) {
    width: 37px * 2;

  }
}

// Para o input do mes
.MesInput{
  width: 93px;

  padding: 4px 0px 4px 5px;
  margin-right: 10px;

  background: inherit;

  @media ( min-width:$size-mobile ) {
    width: 93px * 2;

    padding: 8px 0px 8px 10px;
  }
}

.MesOptions{
  width: 93px;

  @media ( min-width:$size-mobile ) {
    width: 93px * 2;

  }
}

.MesOption{
  padding: 4px 0px 4px 5px;

  @media ( min-width:$size-mobile ) {
    padding: 8px 0px 8px 10px;
  }
}

// Para o input do ano
.AnoInput{
  width: 50px;

  padding: 4px 0px 0px 4px;
  margin-right: 10px;

  background: inherit;

  @media ( min-width:$size-mobile ) {
    width: 50px * 2;

    padding: 8px 0px 8px 8px;
  }
}

.AnoOptions{
  width: 51px;
  height: 150px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;

  @media ( min-width:$size-mobile ) {
    width: 61px * 2;
    height: 250px;
  }
}

.AnoOption{
  padding-left: 4px;
  @media ( min-width:$size-mobile ) {
    padding-left: 8px;
  }
}
