@import '../../style/color.scss';
@import '../../style/font.scss';
@import '../../style/size.scss';


@mixin removeArrow {
  background: inherit;
}

@mixin centerText {
  padding: 4px 0px 4px 0px;
  margin-right: 8px;

  text-align: center;

  @media ( min-width:$size-mobile ) {
    padding: 8px 0px 8px 0px;
    margin-right: 8px * 2;
  }
}

@mixin showScroll{
  text-align: center;
  height: 150px;
  overflow: scroll;
  overflow-x: hidden;
  @media ( min-width:$size-mobile ) {
    width: 200px;
    height: 150px * 2;
    @media ( min-width:$size-mobile ) {
      width: 200px*2;
    }
  }
}

.Container{
  display: flex;
}



.DiaInput{
  @include removeArrow;
  @include centerText;


  width: 35px;

  .Options{
    @include showScroll;
  }

  @media ( min-width:$size-mobile ) {
    width: 35px * 2;
  }
}

.MesInput{
  @include removeArrow;
  @include centerText;
  width: 98px;

  .Options{
    @include showScroll;
    left: -44px;
    @media ( min-width:$size-mobile ) {
      left: -44px * 2;
    }
  }

  @media ( min-width:$size-mobile ) {
    width: 98px * 2;
  }
}

.AnoInput{
  @include removeArrow;
  @include centerText;
  width: 51px;

  .Options{
    @include showScroll;
    left: -150px;
    @media ( min-width:$size-mobile ) {
      left: -150px * 2;
    }
  }
  @media ( min-width:$size-mobile ) {
    width: 51px * 2;
    
  }
}

.Option{
  padding: 3px 0px 3px 0px;
}