<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Produtos</title>
</head>
<body>
    <form method="POST">
      <label for='nome'>Nome do produto:</label>
    </br>
      <input type='text' name='nome' id='nome'>
    <span style="display:block">
    </br>
    </span>
      <label for='descricao'>Descricao (maximo 200 palavras):</label>
    </br>
      <textarea name='descricao' id='descricao'> </textarea>
    <span style="display:block">
    </br>
    </span>
      <label>Preço</label>
    </br>
      <input type="number" name='price' id='price' min='0' max='1500'>
    <span style="display:block">
    </br>
    </span>
      <label>Tags:</br></label>
    </br>
    <label>Tag 1</label>
    <input type='text' name='id_opcao[0]' id='id_opcao[0]'> 
    <button id='add_opcao' type='button'>Adicionar mais uma opcao</button>
    <span style="display:block">
    </br>
    </span>
    <button type='submit'>Submit Produto</button>
    </form>
   
</body>
<script src="/js/createproduts.js" type="text/javascript"></script>
</html>