@import '../../../style/font.scss';
@import '../../../style/color.scss';
@import '../../../style/size.scss';
@import '../../../style/title.scss';
@import '../../../style/container.scss';

.title{
  // Pequeno botao
  &::before{
    content: "";

    position: absolute;
    left: -8px;
    top: 8px;

    background-color: $green;

    padding: 3px;
    border-radius: 40px;

    @media (min-width: $size-mobile){
    left: -8px * 2;
    top: 8px * 2;

    padding: 3px * 2;
    }
  }
}

.LittleInfo{
  font-size: $font-12;
  font-weight: $font-light;
  margin-bottom: 12px;

  @media (min-width: $size-mobile){
    font-size: $font-12 * 2;
  }
}

.Select{
  display: inline-flex;
  margin-bottom: 12px
}


.TitleDate{
  margin-left: 3px;

  color: $gray-dark;

  font-size: $font-18;

  @media ( min-width:$size-mobile ) {
    font-size: $font-18 * 2;
  }
}
