$green:#26B44E;
$red:#CD3535;
$blue:#0066FF;
$black:#000000;
$black-background:rgba(0, 0, 0, 0.73);
$white:#FFFFFF;
$white-background:rgba(255, 255, 255, 0.8);
$gray-light:#E1E1E1;
$gray-dark:#A5A5A5;
$line-color:#353535;