@import  '../TextInput/TextInput.module.scss';

.SelectInput{
  @extend .TextInput;
  position: relative;
  display: inline-block;

  cursor: pointer;

  // Pequena seta para selecina
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 3px;

  .DefaultSelect{
    color: $gray-dark;
  }

  .SelectedSelect{
    color: $black;
  }

  // Pequena seta para selecionar
  @media ( min-width:$size-mobile ) {
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='48' viewBox='0 0 24 24' width='48' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 6px;
  }
}

.DefaultMessage{
  height: 22px;
  @media ( min-width:$size-mobile ) {
    height: 43px;
  }
}

.OptionsSelect{
  position: absolute;
  width: 200px;
  margin-top: 5px;
  left: -1px;

  opacity: 0;
  visibility: hidden;
  z-index: 1;

  background-color: $white;
  border: $border solid $gray-dark;
  border-radius: 0px 0px 5px 5px;

  @media ( min-width:$size-mobile ) {
    width: 200px * 2;
    margin-top: 6px * 2;
  }
}

.OpenSelect{
  opacity: 1;
  visibility: visible
}


// Option class
.OptionSelect{
  display: block;
  padding: 3px 0px 3px 8px;

  border-bottom: $border solid $gray-light;

  cursor: pointer;

  &:hover {
    background-color: $black;
    color: $white;
  }

  @media ( min-width:$size-mobile ) {
    padding: 3px 0px 3px 16px;
  }
}
