@import  '../TextInput/TextInput.module.scss';

.Container{
  @extend .Container;
}

.SelectInput{
  @extend .TextInput;
  
  // Pequena seta para selecina
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 3px;

  &:invalid{
    color: $gray-dark;
  }

  // Pequena seta para selecionar
  @media ( min-width:$size-mobile ) {
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='48' viewBox='0 0 24 24' width='48' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 6px;
  }
}

option{
  color: $black;
}