.Main {
  display: grid;
  grid-template-rows: 120px min-content min-content auto;
}

.containerTitle{
  grid-row: 2/3;
  justify-self: center;
  align-self:flex-start;
  padding: 5px 20px;
  border-radius: 20px;
  font-size: 30px;
  font-weight: 200;
  background-color: rgba(0, 0, 0, 0.425)
}
