.fundoEscuro {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  animation-name: fadeIn;
  animation-duration: 100ms;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 100ms;
}


.contentor::before {
  content: '';
  position: absolute;
  padding: 30px;
  border-radius: 50%;
  left: 115%;
  top: -10%;
  background: linear-gradient(180deg, #E5EAE7 0%, #E1E1E1 100%);
  transform: translateX(-100%);
  z-index: -1;
}

.contentor {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display:flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: fit-content;
  padding: 20px 20px;
  background: linear-gradient(180deg, #E5EAE7 0%, #E1E1E1 100%);
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  animation-name: fadeIn;
  animation-duration: 1s;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 700ms;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.icon {
  position: absolute;
  width: 50px;
  left: 115%;
  top: -10%;
  transform: translate(-110%,10%);
  fill: #32753B;
  cursor: pointer;
}

.icon:hover {
  filter: brightness(0.7);
}

.logoContentor {
  height: 13rem;
  width: 23rem;
  align-self: center;
  margin: 0 0 20px 0px;
  padding: 0px 20px;
  background: #32753B;
  box-shadow: 4px 6px 7px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}

.logoContentor svg {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.form {
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: baseline;
  background-color: #32753B;
  padding: 30px;
  border-radius: 30px;
  width: 360px;
}

.form label {
  font-weight: 200;
  font-size: 30px;
}

.email, .password{
  color: #000;
  font-weight: 200;
  font-size: 20px;
  border-radius: 20px;
  padding: 5px 0px 5px 10px;
  width: 95%;
}

.submit {
  margin:20px auto 0px auto;
  padding: 10px 30px;
  font-size: 30px;
  font-weight: 200;
  background: #25552B;
  -webkit-appearance: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 3px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 3px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 33px;
  cursor: pointer;
}

.submit:hover {
  filter: brightness(1.3);
}

.loading {
  width: 40px;
  fill:white;
  margin:20px auto 0px auto;
}

.message{
  background-color: rgb(100, 100, 100);
  padding: 5px 10px;
  border-radius: 10px;
  align-self: center;
}

@media (max-width: 660px) {

  .contentor{
    padding: 10px;
  }

  .contentor::before {
    left: 117%;
    padding: 4.5vw;
  }

  .icon {
    left: 117%;
    width: 7.6vw;
  }

  .logoContentor{
    width: 40vw;
    height: 20vw;
  }

  .form {
    padding: 15px 15px;
    border-radius: 15px;
    width: 40vw;
  }

  .form label {
    font-size: 4vw;
  }

  .email, .password{
    padding: 0.5vw 1vw;
    font-size: 3vw;
  }

  .submit {
    font-size: 4vw;
  }
  .message{
    background-color: rgb(100, 100, 100);
    font-size: 3vw;
    padding: 1vw 2vw;
    margin-bottom: 2vw;
    border-radius: 3vw;
  }
}

@media (max-width: 425px) {

  .contentor{
    padding: 20px;
  }

  .contentor::before {
    left: 100%;
    top: -12%;
    padding: 6.5vw;
  }

  .icon {
    left: 100%;
    top: -12%;
    width: 10.6vw;
  }

  .logoContentor{
    width: 60vw;
    height: 40vw;
  }

  .form {
    padding: 25px 25px;
    border-radius: 15px;
    width: 60vw;
  }

  .form label {
    font-size: 7vw;
  }

  .email, .password{
    padding: 0.5vw 1vw;
    font-size: 5.5vw;
    width: 60vw;
  }

  .submit {
    font-size: 7vw;
  }

  .message{
    background-color: rgb(100, 100, 100);
    font-size: 4vw;
    padding: 2vw 3vw;
    margin-bottom: 2vw;
    border-radius: 3vw;
  }
  
}